# glob 模式匹配：
# 星号（*）匹配零个或多个任意字符
# [abc] 匹配任何一个列在方括号中的字符
# 这个例子要么匹配一个 a，要么匹配一个 b，要么匹配一个 c
# 问号（?）只匹配一个任意字符
# [0-9a-zA-Z] 在方括号中使用短划线分隔两个字符，表示所有在这两个字符范围内的都可以匹配
# 比如 [0-9a-zA-Z] 表示匹配所有 0 到 9 的数字和所有字母
# \ 转义字符。

# Dependency directory
node_modules

# Sass cache directory
.sass-cache
app-sass-cli/.sass-cache
app-sass-cli/app-sass/.sass-cache

# Convert files
app/*.js
app/*.js.map
app/components/*.js
app/components/*.js.map
app/config/*.js
app/config/*.js.map
app/modules/*.js
app/modules/*.js.map
app/services/*.js
app/services/*.js.map