@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  font-family: "Microsoft YaHei", Arial, sans_serif;
}

div, a, ul, li, table, thead, th, tr, td, tbody, input, textarea, label {
  box-sizing: border-box;
}

a {
  font-size: inherit;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.container {
  display: block;
  width: 1170px;
  margin: 0 auto;
  padding-top: 40px;
}

.top_nav_wrapper {
  height: 100%;
  font-size: 0;
  text-align: center;
}

.top_nav_bar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 40px;
  background-color: #1B84B2;
}

.btn_nav_tool {
  position: relative;
  display: inline-block;
  height: 40px;
  padding: 0 15px;
  font-size: 14px;
  line-height: 40px;
  color: #FFFFFF;
}
.btn_nav_tool:hover {
  background-color: #076F9C;
}

.btn_nav_tool.active {
  background-color: #076F9C;
}

.nav_tool_triangle {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #E1E1E1;
  border-top-width: 0;
  border-top-color: transparent;
  border-right-width: 5px;
  border-right-color: transparent;
  border-bottom-width: 4px;
  border-left-width: 5px;
  border-left-color: transparent;
}

.title1 {
  display: inline-block;
  width: 100%;
  padding: 60px 0;
  font-size: 24px;
  text-align: center;
  color: #333333;
}

.btn {
  display: inline-block;
  min-width: 120px;
  height: 30px;
  padding: 8px 15px;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  text-align: center;
  vertical-align: middle;
  color: #FFFFFF;
  border-radius: 3px;
}

.btn_form {
  width: 100%;
  height: 40px;
  line-height: 24px;
}

.btn_company_static {
  background-color: #2D4051;
}
.btn_company_static:hover {
  background-color: #243341;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}

.btn_company_disable {
  background-color: #ABB3B9;
}

.btn_cancel_static {
  color: #707070;
  /* 兼容 <IE10 */
  FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#FFFFFF, endColorStr=#F5F5F5);
  border: 1px solid #CCCCCC;
  background: -webkit-linear-gradient(top, #FFFFFF, #F5F5F5);
  background: -moz-linear-gradient(top, #FFFFFF, #F5F5F5);
  background: -o-linear-gradient(top, #FFFFFF, #F5F5F5);
  background: -ms-linear-gradient(top, #FFFFFF, #F5F5F5);
}
.btn_cancel_static:hover {
  border: 1px solid #C2C2C2;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
}

.btn_cancel_disable {
  color: #C2C2C2;
  border: 1px solid #CCCCCC;
}

.form_group .form_title {
  display: block;
  padding: 10px 0;
  font-size: 12px;
  font-weight: bold;
  color: #333333;
}
.form_group .form_content_link {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 20px;
}
.form_group .form_input {
  margin-bottom: 20px;
}

.form_input {
  width: 100%;
  height: 30px;
  padding: 7px 10px;
  font-size: 12px;
  color: #C2C2C2;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  background-color: #FFFFFF;
}

.form_input:focus {
  color: #333333;
  box-shadow: 0 0 4px rgba(45, 64, 81, 0.3);
}

.form_input_err {
  color: #333333;
  border: 1px solid #F26C4F;
}

.nav_list {
  display: inline-block;
  border: 1px solid #CCCCCC;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.06);
}

.list_item {
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  cursor: pointer;
  color: #333333;
  border-bottom: 1px solid #CCCCCC;
  background-color: #FFFFFF;
}
.list_item:hover {
  background-color: #F5F5F5;
}

.list_item_lg {
  width: 270px;
  padding: 9px 20px;
}

.list_item_static {
  padding: 9px 20px;
}

.list_item_selected {
  padding: 9px 20px 9px 15px;
  font-weight: bold;
  border-left: 5px solid #2D4051;
  background-color: #F5F5F5;
}

.item_content {
  position: absolute;
}

.detail_board {
  position: relative;
  width: 280px;
  height: 180px;
  padding: 20px;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  color: #E1E1E1;
}

.borad_item {
  padding: 8px 0;
}
.borad_item label {
  display: inline-block;
  width: 80px;
  text-align: right;
  padding-right: 20px;
}

.board_bkg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .9;
  background-color: #333333;
  filter: alpha(opacity=90);
  -webkit-opacity: .9;
  -moz-opacity: .9;
}

.board_decorator {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-width: 20px;
  border-style: solid;
  border-color: #333333 #FFFFFF #FFFFFF #333333;
}
