// Color variables
$grey1: #333333;
$grey2: #707070;
$grey3: #ACACAC;
$grey4: #C2C2C2;
$grey5: #CCCCCC;
$grey6: #E1E1E1;
$grey7: #F5F5F5;

$dark_blue1: #2D4051;
$dark_blue2: #243341;
$dark_blue3: #ABB3B9;

$light_blue1: #1B84B2;
$light_blue2: #076F9C;
$light_blue3: #A4CEE0;

$red1: #F26C4F;
$red2: #EB6042;
$red3: #FAC4B9;

$orange1: #FF9933;
$orange2: #FC8824;
$orange3: #FFD6AD;

$yellow1: #F9EDBE;
$yellow2: #EADBA7;
$yellow3: #FFFAE6;

$white: #FFFFFF;

// Font family variables
$en: "Helvetica Neue", Helvetica, Arial, sans_serif;
$ch: "Microsoft YaHei", Arial, sans_serif;
$jp: "MS PGothic", Arial, sans_serif;
$kr: 돋움, "Malgun Gothic", AppleGothic, sans_serif;

// Font size variables
$H1: 30px;
$H2: 20px;
$H3: 18px;
$H4: 16px;

$P1: 14px;
$P2: 12px;

$small_font: 11px;
